<ion-header>
  <ion-toolbar>
    <ion-title>nfc-pinjam</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card *ngIf="historyStatus">
    <img class="profile-picture" [src]="photo">
    <ion-card-header>
      <ion-card-subtitle>{{bookName}}</ion-card-subtitle>
      <ion-card-title>{{dateBook}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ descBook }}
      <a href="#" (click)="OpenBrowser()">{{linkBook}}</a>
    </ion-card-content>
  </ion-card>

</ion-content>