<!-- <ion-menu  enable-menu-with-back-views=“true” side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf="status" (click)="profile()">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item *ngIf="status" (click)="nfcPinjam()">
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Buku</ion-label>
      </ion-item>
      <ion-item *ngIf="status" (click)="adminBook()">
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Book Admin</ion-label>
      </ion-item>
      <ion-item *ngIf="status" (click)="adminUser()">
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>User Admin</ion-label>
      </ion-item>
      <ion-item *ngIf="!status" (click)="nfcPinjam()">
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>Buku</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="trash" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->

<!-- <div class="ion-page" id="main-content"> -->
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Input Book</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="profile"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form [formGroup]="bookForm" (ngSubmit)="submitForm()" novalidate>
      <ion-item lines="full">
        <ion-label position="floating">Book Title</ion-label>
        <ion-input formControlName="book_name" type="text"></ion-input>
      </ion-item>
      <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.book_name.errors?.required">
        Book Title is required.
      </span>
      <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.book_name.errors?.minlength">
        Book Title should be min 2 chars long.
      </span>
      <span style="color: white;" class="error ion-padding" *ngIf="checkCompress">
        Book Title Compression Rasio = {{beforeCompressBook.length}}:{{afterCompressBook.length}}
      </span>

      <ion-item lines="full">
        <ion-label position="floating">Author</ion-label>
        <ion-input formControlName="writter" type="text"></ion-input>
      </ion-item>
      <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.writter.errors?.required">
        Writter is required.
      </span>
      <span style="color: white;" class="error ion-padding" *ngIf="checkCompress">
        Writter Compression Rasio = {{beforeCompressWritter.length}}:{{afterCompressWritter.length}}
      </span>

      <ion-item lines="full">
        <ion-label position="floating">Published Date</ion-label>
        <ion-datetime formControlName="date" displayFormat="D MMMM YYYY" value="1990-02-19" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.date.errors?.required">
        Publish Date is required.
      </span>

      <ion-item lines="full">
        <ion-label position="floating">ISBN</ion-label>
        <ion-input maxlength="12" formControlName="isbn" type="text" required></ion-input>
      </ion-item>
      <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.isbn.errors?.required">
        ISBN is required.
      </span>
      <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.isbn.errors?.pattern">
        Only numerical values allowed.
      </span>

      <ion-item lines="full">
        <ion-label position="floating">Review</ion-label>
        <ion-textarea formControlName="description" type="text"></ion-textarea>
      </ion-item>
      <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
        Review is required.
      </span>
      <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.minlength">
        Review should be min 10 chars long.
      </span>
      <span style="color: white;" class="error ion-padding" *ngIf="checkCompress">
        Review Compression Rasio = {{beforeCompressReview.length}}:{{afterCompressReview.length}}
      </span>

      <ion-item>
        <ion-card *ngIf="photo">
          <ion-card-content>
            <img class="profile-picture" [src]="photo">
          </ion-card-content>
        </ion-card>
      </ion-item>
    <ion-item>
      <ion-button size="small" (click)="getPicture('camera')">
        <ion-icon name="camera" slot="start"></ion-icon>
        <ion-label>Camera</ion-label>
      </ion-button>

      <ion-button size="small" (click)="getPicture('gallery')">
        <ion-icon name="image" slot="start"></ion-icon>
        <ion-label>Gallery</ion-label>
      </ion-button>


      <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)"/>
    </ion-item>

    <ion-item lines="full">
      <ion-input maxlength="10" formControlName="rfid" type="text" [value]="tagId" required [hidden]="true"></ion-input>
    </ion-item>
    <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.rfid.errors?.required">
      RFID is required.
    </span>


      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
<!-- </div> -->
