<ion-header>
  <ion-toolbar>
    <ion-title>NFC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="bookForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Book Name</ion-label>
      <ion-input formControlName="book_name" type="text" (ionChange)="onChange()"></ion-input>
    </ion-item>
    <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.book_name.errors?.required">
      Name is required.
    </span>
    <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.book_name.errors?.minlength">
      Name should be min 2 chars long.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Date</ion-label>
      <ion-datetime formControlName="date" displayFormat="D MMMM YYYY" [value]="myDate" disabled required></ion-datetime>
    </ion-item>
    <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.date.errors?.required">
      Date is required.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description" type="text"></ion-textarea>
    </ion-item>
    <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
      Description is required.
    </span>
    <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.minlength">
      Description should be min 10 chars long.
    </span>

    <ion-item>
      <ion-card *ngIf="photo">
        <ion-card-content>
          <img class="profile-picture" [src]="photo">
        </ion-card-content>
      </ion-card>
    </ion-item>
  <ion-item>
    <ion-button size="small" (click)="getPicture('camera')">
      <ion-icon name="camera" slot="start"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-button>

    <ion-button size="small" (click)="getPicture('gallery')">
      <ion-icon name="image" slot="start"></ion-icon>
      <ion-label>Gallery</ion-label>
    </ion-button>

    <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)"/>
  </ion-item>

  <ion-item lines="full">
    <ion-input maxlength="10" formControlName="rfid" type="text" [value]="tagId" required [hidden]="true"></ion-input>
  </ion-item>
  <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.rfid.errors?.required">
    RFID is required.
  </span>


    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
