<ion-content *ngIf="hideTab">
  <div class="card">
      <ion-card>
        <ion-card-title>
          <p style="text-align: center;">U-Book</p>
        </ion-card-title>
        <ion-card-content>
          <img src="../../assets/icon/book_icon.png" class="login-header">
        </ion-card-content>
      </ion-card>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
      Name is required.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password" (input)="onChange()"></ion-input>
    </ion-item>
    <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
      Password is required.
    </span>
    <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
      Password should be min 8 chars long.
    </span>

    <span style="color: red;" class="error ion-padding" *ngIf="isSubmitted && !passConf">
      Couldn't find your account 
    </span>
    <ion-row>
      <p class="Row-Margin">Dont Have Account yet?</p><ion-router-link class="Row-Margin-link" href="/regis">Register Here</ion-router-link>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
