<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="status" [routerLink]="['/nfc']">Input Book</ion-button>
      <ion-button *ngIf="status" [routerLink]="['/nfc-pengembalian']">Pengembalian Buku</ion-button>
      <ion-button *ngIf="!status" [routerLink]="['/nfc-pinjam']">Pinjam Buku</ion-button>
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="historyStatus">
    <ion-card *ngFor="let book of bookBorrow">
      <img class="profile-picture" [src]="photo">
      <ion-card-header>
        <ion-card-subtitle>{{book.book_name}}</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!historyStatus">
    <ion-card>
      <img class="profile-picture" [src]="photo">
      <ion-card-header>
        <ion-card-subtitle>Tidak Ada Buku Yang dipinjam</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
