<!-- <ion-menu  enable-menu-with-back-views=“true” side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf="status" (click)="profile()">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item *ngIf="status" (click)="inputBook()">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Input Book</ion-label>
      </ion-item>
      <ion-item *ngIf="status" (click)="nfcPinjam()">
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Buku</ion-label>
      </ion-item>
      <ion-item *ngIf="status" (click)="adminBook()">
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Book Admin</ion-label>
      </ion-item>
      <ion-item *ngIf="!status" (click)="nfcPinjam()">
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>Buku</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="trash" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->

<!-- <div class="ion-page" id="main-content"> -->

  <ion-header *ngIf="hideTab">
    <ion-toolbar>
      <ion-title>User Admin</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="profile"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content *ngIf="hideTab">
    <div class="ion-padding">

      <!-- Theme classes dark, material, bootstrap -->
      <ngx-datatable 
        #table
        class="material"
        [limit]="8" 
        [rows]="rows" 
        [headerHeight]="'80'"
        [footerHeight]="50"
        [rowHeight]="50" 
        [count]="userLib.length"
        [columns]="columns"
        [columnMode]="'force'" 
        [sortType]="'single'" 
        [headerHeight]="50" 
        [footerHeight]="50"
        (activate)="editModal($event)">
      </ngx-datatable>


    </div>
  </ion-content>
<!-- </div> -->