input[type="file"] {
    display: none;
  }
  .profile-picture {
    width: 50%;
    height: 100%;
  }

  .Row-Margin{
    margin-left: 10px;
    &-link {
        margin-left: 10px;
        margin-top: 15px;
    }
}