<!-- <ion-menu  enable-menu-with-back-views=“true” side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf="status" (click)="profile()">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item *ngIf="status" (click)="inputBook()">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Input Book</ion-label>
      </ion-item>
      <ion-item *ngIf="status" (click)="nfcPinjam()">
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Buku</ion-label>
      </ion-item>
      <ion-item *ngIf="status" (click)="adminUser()">
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>User Admin</ion-label>
      </ion-item>
      <ion-item *ngIf="!status" (click)="nfcPinjam()">
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>Buku</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="trash" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->

<!-- <div class="ion-page" id="main-content"> -->
<ion-header>
  <ion-toolbar>
    <ion-title>Book Admin</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label *ngIf="!historyStatus">Please Scan Your NFC to Edit Book</ion-label>
  <ion-card *ngIf="historyStatus">
    <img class="profile-picture" [src]="photo">
    <ion-card-header>
      <ion-card-title>{{bookName}}</ion-card-title>
      <ion-card-title>{{dateBook}}</ion-card-title>
      <ion-card-subtitle>{{isbnBook}}</ion-card-subtitle>
      <ion-card-subtitle>{{writterBook}}</ion-card-subtitle>
      <ion-buttons>
        <ion-button (click)="ModalEditOpen()">Edit</ion-button>
      </ion-buttons>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>Description :</ion-card-title>
      <br>
      {{descBook}}
    </ion-card-content>
  </ion-card>
</ion-content>
<!-- </div> -->